body{
    
}
#Coche
{
    position: absolute;
    
    visibility: hidden;
    
}

#Avion
{
    position: absolute;
    
    visibility: hidden;
    
}

#Tren
{
    position: absolute;
    
    visibility: hidden;
    
}

/* Modo por checkbox */

/* #CocheOpcion:checked ~ #Coche
{
    visibility: visible;
    transition-duration: 2s;
    display: flex;
    background-color: blue;
    color: white;
    
}

#AvionOpcion:checked ~ #Avion
{
    visibility: visible;
    transition-duration: 2s;
    display: flex;
    background-color: brown;
    color: white;
    
}

#TrenOpcion:checked ~ #Tren
{
    visibility: visible;
    transition-duration: 2s;
    display: flex;
    background-color: chocolate;
    color: white;
    
} */

/* Modo por checkbox */

/* Modo por selected atributo */
#CocheOpcion[selected="checked"] ~ #labelCoche{
    color: red;
}

#AvionOpcion[selected="checked"] ~ #labelAvion{
    color: red;
}

#TrenOpcion[selected="checked"] ~ #labelTren{
    color: red;
}

#CocheOpcion[selected="checked"] ~ #Coche
{
    visibility: visible;
    transition-duration: 2s;
    display: flex;
    background-color: blue;
    color: white;
    
}

#AvionOpcion[selected="checked"] ~ #Avion
{
    visibility: visible;
    transition-duration: 2s;
    display: flex;
    background-color: brown;
    color: white;
    
}

#TrenOpcion[selected="checked"] ~ #Tren
{
    visibility: visible;
    transition-duration: 2s;
    display: flex;
    background-color: chocolate;
    color: white;
    
}
/* Modo por selected atributo */

input[name="Tranporte"]{
    float: left;
    visibility: hidden;
}

label{
    float: left;
}
input[type="text"]{
    
    margin-left: 100px;
    margin-top: -40px;
    height: 200px;
}

