#contenedor{
    border-style: dotted;
    max-width: fit-content;
}

#boton
{
    transition-duration: 0.4s;
}

#boton[paso="0"]
{
    background-color: white;
    color: black;
    margin-left: 20px;
}

#boton[paso="1"]
{
    background-color: grey;
    color: darkslategrey;
    margin-left: 40px;
}

#boton[paso="2"]
{
    background-color: black;
    color: white;
    margin-left: 60px;
}

#boton[estado="deshabilitado"]
{
    content: 'x';
    background-color: red;
    color: red;
    margin-left: 0px;
}

